body {
  background-image: url("/Images/abstract-antique-backdrop-background-129731.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  background-color: rgba(206, 212, 212, 1);
  padding: 20px;
}

.navbar-custom {
  background-color: rgba(75, 0, 120, 1);
}
.container:nth-child(2) {
  margin-top: 55px;
}
h1#index-header {
  text-shadow: 2px 2px rgb(149, 149, 236);
}
